# Data Types

Variables are used to hold/store value
Python is Dynamically Typed language

In [ ]:
Numeric : int, float, complex
    
text : str
   
sequence : list, tuple, range
    
mapping : dict (Key value pair)

setDT : set, frozenset

Boolean : bool (True/False)
    
Binary : bytes

# Int Data Type

Whole Numbers
+ve or -ve
without decimal

In [8]:
x = 100
type(x)

int

In [10]:
number = 2345
type(number)

int

In [12]:
number = -45
type(number)

int

In [ ]:
number = -45
type(number)

# Float Data Type

In [ ]:
+ve or -ve
With decimal point

In [15]:
float_number = 23.45
print("Data Type of variable is :",type(float_number))

Data Type of variable is : <class 'float'>

In [18]:
float_number = -23.45
type(float_number)

float

In [20]:
num = 1223.45
type(num)

float

In [21]:
num = 1223.0
type(num)

float

In [23]:
num = 10.123456789
type(num)

float

In [26]:
num = 10.123456789
round(num, 2)

10.12

In [30]:
num = 10.125456789
round(num, 4)

10.1255

# Complex Data Type

Contain Real and Imaginary Part

In [35]:
x = 3 + 4j
type(x)

complex

In [37]:
x = 3 + 0j
type(x)

complex

In [39]:
x =  4j
type(x)

complex

In [41]:
x =  0 + 4j
type(x)

complex

In [43]:
abs(3) # Dist from 0 value

3

In [47]:
abs(-3)

3

In [48]:
abs(-34.56)

34.56

In [46]:
abs(3 + 4j)

5.0

# Python Casting

In [ ]:
Specify Variable type
To change data type of variable

In [51]:
x = 20
x1 = 10.45
x2 = 35.1

## 1. int to float

In [50]:
x = 20
x = float(x)
print("Updated value of x is :",x)

Updated value of x is : 20.0

## 2. float to int

In [56]:
num = 10.54
type(num)
num = int(10.54)
print("Updated value of x is :",num)

Updated value of x is : 10

In [61]:
num = 10.99
print("Value in Num is :",num)   # 10.99

num = int(num)  # Converting float number to int data type
print("Updated value of num is :",num)

Value in Num is : 10.99
Updated value of num is : 10

In [59]:
int(10.99)

10

In [58]:
print("Updated value of x is :",int(34.56))

Updated value of x is : 34

In [66]:
int(10.5)
float(10)
float(23.56)

23.56

In [69]:
a = 20.50
print(f"Value of a is {a} and its data type is {type(a)}")

a = int(a)
print(f"Value of a is {a} and its data type is {type(a)}")

Value of a is 20.5 and its data type is <class 'float'>
Value of a is 20 and its data type is <class 'int'>

In [72]:
a = 10.93487
print(f"Value of a is {a} and its data type is {type(a)}")

a = int(a)
print(f"Value of a is {a} and its data type is {type(a)}")

Value of a is 10.93487 and its data type is <class 'float'>
Value of a is 10 and its data type is <class 'int'>

## 3. int to complex

In [74]:
a = 24
print(f"Value of a is {a} and its data type is {type(a)}")

a = complex(a)
print(f"Value of a is {a} and its data type is {type(a)}")

Value of a is 24 and its data type is <class 'int'>
Value of a is (24+0j) and its data type is <class 'complex'>

In [76]:
a = 100
print(f"Value of a is {a} and its data type is {type(a)}")

a = complex(a)
print(f"Value of a is {a} and its data type is {type(a)}")

Value of a is 100 and its data type is <class 'int'>
Value of a is (100+0j) and its data type is <class 'complex'>

## 4. float to complex

In [78]:
a = 24.56
print(f"Value of a is {a} and its data type is {type(a)}")

a = complex(a)
print(f"Value of a is {a} and its data type is {type(a)}")

Value of a is 24.56 and its data type is <class 'float'>
Value of a is (24.56+0j) and its data type is <class 'complex'>

## 5. complex to int

Complex number to int or float is not possible

In [82]:
a = 24 + 5j
print(f"Value of a is {a} and its data type is {type(a)}")

a = int(a)
print(f"Value of a is {a} and its data type is {type(a)}")

Value of a is (24+5j) and its data type is <class 'complex'>

TypeError: can't convert complex to int

In [84]:
a = 24 + 5j
print(f"Value of a is {a} and its data type is {type(a)}")

a = float(a)
print(f"Value of a is {a} and its data type is {type(a)}")

Value of a is (24+5j) and its data type is <class 'complex'>

TypeError: can't convert complex to float

In [89]:
a = 24 + 0j
print("Value of a is {} and its data type is {}".format(a,type(a)))

a = float(a)
print(f"Value of a is {a} and its data type is {type(a)}")

Value of a is (24+0j) and its data type is <class 'complex'>

TypeError: can't convert complex to float

In [92]:
a = 3 + 4j
abs(a)

5.0

In [93]:
import urllib
import pdf2image
import pdftotext
import PyPDF