# List

In [8]:
list1 = [2,3,4,6,7]

# List Functions

In [ ]:
1. append()
2. extend()

# 2. extend

In [9]:
l1 = [3,4,5,6]
l2 = [5,6,7,8]
l1.extend(l2)
print(l1)
print(l2)

[3, 4, 5, 6, 5, 6, 7, 8]
[5, 6, 7, 8]

In [11]:
l1 = [3,4,5,6]
l2 = [5,6,7,8]

l2.extend(l1)
print(l1)
print(l2)

[3, 4, 5, 6]
[5, 6, 7, 8, 3, 4, 5, 6]

In [13]:
str1 = 'python' + ' class'
str1

'python class'

In [17]:
l1 = [3,4,5,6]
l2 = [5,6,7,8]

l3 = l1 + l2
print(l1)
print(l2)
print(l3)

[3, 4, 5, 6]
[5, 6, 7, 8]
[3, 4, 5, 6, 5, 6, 7, 8]

In [19]:
l1 = [3,4,5,6]
l2 = [5,6,7,8]

l1 = l1 + l2
print(l1)
print(l2)

[3, 4, 5, 6, 5, 6, 7, 8]
[5, 6, 7, 8]

In [21]:
l1 = [3,4,5,6]
l2 = [5,6,7,8]

l2 = l1 + l2
print(l1)
print(l2)

[3, 4, 5, 6]
[3, 4, 5, 6, 5, 6, 7, 8]

# 3. insert

In [ ]:
insert(index, value)

In [23]:
l1 = [3,4,5,6]
l1.append(100)
l1

[3, 4, 5, 6, 100]

In [26]:
l1 = [3,4,5,6,7,10,20]
l1.insert(2,100)
l1

[3, 4, 100, 5, 6, 7, 10, 20]

In [27]:
l1 = [3,4,5,6,7,10,20]
l1.insert(2,100)
l1

[3, 4, 100, 5, 6, 7, 10, 20]

In [34]:
l1 = [3,4,5,6,7,10,20]
l1.insert(-1,100)
l1

[3, 4, 5, 6, 7, 10, 100, 20]

In [31]:
l1 = [3,4,5,6,7,10,20]
l1.insert(-2,100)
l1

[3, 4, 5, 6, 7, 100, 10, 20]

In [33]:
l1 = [3,4,5,6,7,10,20]
l1.insert(0,100)
l1

[100, 3, 4, 5, 6, 7, 10, 20]

In [37]:
l1 = [3,4,5,6,7,10,20]
l1.insert(-3,100)
l1

[3, 4, 5, 6, 100, 7, 10, 20]

# Delete items

In [ ]:
1. remove
2. pop
3. clear
4. del

In [38]:
l1 = [3,4,5,6,7,10,20]

# 1. remove()

list1.remove('item')

It removes only first occurrences of element in list

In [41]:
l1 = [3,4,5,6,7,10,10,4,5,20]
l1[3]

6

In [44]:
l1 = [3,4,5,6,7,10,10,4,5,20]
l1.remove(3)

In [47]:
l1 = [3,4,5,6,7,10,10,4,5,20]
l1.remove(6)
l1

[3, 4, 5, 7, 10, 10, 4, 5, 20]

In [49]:
l1 = [3,4,5,6,7,10,10,4,5,20]
l1.remove(4)
l1

[3, 5, 6, 7, 10, 10, 4, 5, 20]

In [50]:
city_name = ['Pune','Mumbai','Mumbai','Delhi','Chennai']

In [53]:
city_name = ['Pune','Mumbai','Mumbai','Delhi','Chennai']
city_name.remove('Delhi')
print(city_name,len(city_name))

['Pune', 'Mumbai', 'Mumbai', 'Chennai'] 4

In [55]:
city_name = ['Pune','Mumbai','Mumbai','Delhi','Chennai']
city_name.remove('Mumbai')
print(city_name,len(city_name))

['Pune', 'Mumbai', 'Delhi', 'Chennai'] 4

In [60]:
city_name = ['Pune','Mumbai','Mumbai','Delhi','Chennai']
l1 = list(set(city_name))  # It does not allow duplicate items
l1.remove('Mumbai')
l1

['Pune', 'Delhi', 'Chennai']

In [64]:
l1 = [3,4,5,6,7,10,10,4,5,20]
if 11 in l1:    # False
    l1.remove(11)
    
print(l1,len(l1))

[3, 4, 5, 6, 7, 10, 10, 4, 5, 20] 10

In [67]:
l1 = [3,4,5,6,7,10,10,4,5,20]

if 10 in l1:    # True
    l1.remove(10)
print(l1,len(l1))

[3, 4, 5, 6, 7, 10, 4, 5, 20] 9

In [68]:
city_name = ['Pune','Mumbai','Mumbai','Delhi','Chennai']

if 'Delhi' in city_name:
    city_name.remove('Delhi')
print(city_name,len(city_name))

['Pune', 'Mumbai', 'Mumbai', 'Chennai'] 4

In [72]:
city_name = ['Pune','Mumbai','Mumbai','Delhi','Chennai']
set(city_name)

{'Chennai', 'Delhi', 'Mumbai', 'Pune'}

In [77]:
city_name = ['Pune','Mumbai','Mumbai','Mumbai','Delhi','Chennai']
s1 = set(city_name)
l1 = list(s1)
l1

['Mumbai', 'Pune', 'Delhi', 'Chennai']

# 2. pop()

pop(index)
default it will remove last indexed item

In [79]:
city_name = ['Pune','Mumbai','Mumbai','Mumbai','Delhi','Chennai']
city_name.pop()
city_name

['Pune', 'Mumbai', 'Mumbai', 'Mumbai', 'Delhi']

In [81]:
list1 = [10,20,30,25,35]
list1.pop()
list1

[10, 20, 30, 25]

In [84]:
list1 = [10,20,30,25,35]
list1.pop(1)
list1

[10, 30, 25, 35]

In [86]:
list1 = [10,20,30,25,35]
list1.pop(0)
list1

[20, 30, 25, 35]

# 3. clear()

It will removes all items from list

In [88]:
list1 = [2,3,5]
list1.append(100)
list1

[2, 3, 5, 100]

In [90]:
list1 = []
type(list1)

list

In [91]:
list1 = list()
type(list1)

list

In [93]:
list1 = []
type(list1)
list1.append(10)
list1

[10]

In [96]:
list1 = []
type(list1)
list1.append(100)
list1.append(200)
list1

[100, 200]

In [98]:
list1 = [10,20,30]
list1.clear()
list1

[]

# 4. del

In [100]:
sub_names = ['Phy','Che','Math','Bio','Eng']
sub_names[1]

'Che'

In [103]:
del sub_names
print(sub_names)

NameError: name 'sub_names' is not defined

In [105]:
sub_names = ['Phy','Che','Math','Bio','Eng']
del sub_names[1]
print(sub_names)

['Phy', 'Math', 'Bio', 'Eng']

# Sorting

### 1. ascending order

In [107]:
list1 = [10,20,30,25,35]  # [10, 20,25, 30,35]
list1.sort()
list1

[10, 20, 25, 30, 35]

In [108]:
list1 = [10,20,30,25,35]  # [10, 20,25, 30,35]
list1.sort()
list1

[10, 20, 25, 30, 35]

In [111]:
sub_names = ['Phy','Che','Math','Bio','Eng']
sub_names.sort()
sub_names

['Bio', 'Che', 'Eng', 'Math', 'Phy']

In [132]:
sub_names = ['Phy','Che','math','Bio','eng']
sub_names.sort()
sub_names

['Bio', 'Che', 'Phy', 'eng', 'math']

### 2.descending order

In [118]:
list1 = [10,20,30,25,35]  # [10, 20,25, 30,35]
list1.sort(reverse = False)
list1

[10, 20, 25, 30, 35]

In [120]:
list1 = [10,20,30,25,35]  # [10, 20,25, 30,35]
list1.sort(reverse = True)
list1

[35, 30, 25, 20, 10]

In [122]:
sub_names = ['Phy','Che','Math','bio','eng']
sub_names.sort(reverse = True)
sub_names

['eng', 'bio', 'Phy', 'Math', 'Che']

In [128]:
sub_names = ['Phy','Che','Math','Bio','Eng']
sub_names.sort(reverse = True)
sub_names

['Phy', 'Math', 'Eng', 'Che', 'Bio']

In [130]:
sub_names = ['Phy','Che','Math','Bio','Eng']
sub_names.sort(reverse = True)

In [133]:
list1 = [100,20,30,25,35] 
list2 = sorted(list1)

print(list1)  # [100,20,30,25,35] 
print(list2)  # [20,25,30,35,100]

[100, 20, 30, 25, 35]
[20, 25, 30, 35, 100]

# Reverse

In [135]:
list1 = [100,20,30,25,35] 
list1.reverse()
list1

[35, 25, 30, 20, 100]

In [137]:
sub_names = ['Phy','Che','Math','Bio','Eng']
sub_names.reverse()
sub_names

['Eng', 'Bio', 'Math', 'Che', 'Phy']

In [139]:
sub_names = ['Phy','Che','Math','Bio','Eng']
sub_names[::-1]

['Eng', 'Bio', 'Math', 'Che', 'Phy']

# reversed

In [142]:
sub_names = ['Phy','Che','Math','Bio','Eng']
new_list = reversed(sub_names)

print(sub_names)
print(list(new_list))

['Phy', 'Che', 'Math', 'Bio', 'Eng']
['Eng', 'Bio', 'Math', 'Che', 'Phy']

In [145]:
list1 = [100,20,30,25,35] 
list1.reverse()
list1

[35, 25, 30, 20, 100]

# Function

In [ ]:
1. built in function
2. User defined Function

In [ ]:
list()
max()
min()
sum()
sorted()
print()
len()
reversed()
id()
int()
float()
tuple()

In [152]:
def my_fun():
    print('Hello')

my_fun()

Hello

In [147]:
l1 = [3,4,5,6,7]
sum(l1)

25

In [156]:
def sum_number(l1):  # User defined function
    sum1 = 0
    for i in l1:
        sum1 += i
    return sum1

l1 = [3,4,5,6,7]

s1 = sum_number(l1)
print(s1)

25

In [157]:
def sum_number(l1):  # User defined function
    sum1 = 0
    for i in l1:
        sum1 += i

l1 = [3,4,5,6,7]

s1 = sum_number(l1)
print(s1)

None

# index()

First occurrence

In [159]:
sub_names = ['Phy','Che','Math','Bio','Eng']
sub_names.index('Che')

1

In [161]:
sub_names = ['Phy','Che','Math','Bio','Eng']
sub_names.index('Math')

2

In [163]:
sub_names = ['Phy','Che','Math','Bio','Eng']
sub_names.index('Eng')

4

In [167]:
sub_names = ['Phy','Che','Math','Bio','Eng']
if 'Eng' in sub_names:
    i = sub_names.index('Eng')
    print(i)

4

In [170]:
sub_names = ['Phy','Che','Math','Bio','Eng']
if 'English' in sub_names:
    i = sub_names.index('Eng')
    print(i)

In [171]:
sub_names = ['Phy','Che','Math','Bio','Phy','Eng','Phy']
if 'Phy' in sub_names:
    i = sub_names.index('Phy')
    print(i)

0

# count()

In [172]:
sub_names = ['Phy','Che','Math','Bio','Phy','Eng','Phy']
sub_names.count('Phy')

3

In [174]:
sub_names = ['Phy','Che','Math','Bio','Phy','Eng','Phy']
sub_names.count('Che')

1

In [176]:
sub_names = ['Phy','Che','Math','Bio','Phy','Eng','Phy']
sub_names.count('Chem')

0

In [178]:
sub_names = ['Phy','Che','Math','Bio','Phy','Eng','Phy','Eng']
sub_names.count('Eng')

2

In [180]:
l1 = [10,20,10,25,20,35,40]
l1.count(10)

2

In [184]:
l1 = [10,20,10,25,20,35,40,'Phy','Che','Math','Bio','Phy','Eng']
l1.count('Phy')

2

# List Comprehension

In [199]:
num = [2,3,4,5,6,7]
# sqr_list = [4,9,16,25,36,49]

sqrList = []
for n in num: # n = 3
    sqr = n ** 2  # sqr = 9
    sqrList.append(sqr)   
    print(sqrList)

[4]
[4, 9]
[4, 9, 16]
[4, 9, 16, 25]
[4, 9, 16, 25, 36]
[4, 9, 16, 25, 36, 49]

In [194]:
sub_names = ['Phy','Che','Math','Bio','Eng']
# sub_names_upper = ['PHY','CHE','MATH','BIO','ENG']

subject_upper = []
for sub in sub_names:
    subject_upper.append(sub.upper())
    print(subject_upper)

['PHY']
['PHY', 'CHE']
['PHY', 'CHE', 'MATH']
['PHY', 'CHE', 'MATH', 'BIO']
['PHY', 'CHE', 'MATH', 'BIO', 'ENG']

In [198]:
sub_names = ['Phy','Che','Math','Bio','Eng']
# sub_names_upper = ['PHY','CHE','MATH','BIO','ENG']

subject_upper = []
for sub in sub_names:
    upper = sub.upper()
    subject_upper.append(upper)
    print(subject_upper)

['PHY']
['PHY', 'CHE']
['PHY', 'CHE', 'MATH']
['PHY', 'CHE', 'MATH', 'BIO']
['PHY', 'CHE', 'MATH', 'BIO', 'ENG']

In [203]:
# Cube of 1 to 10 numbers
cube_list = []
for i in range(1,11):
    cube_list.append(i ** 3)
print(cube_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [209]:
# Square of 11 to 30 numbers
squares = []
for i in range(11,31):
    squares.append(i ** 2)
print(squares)

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [211]:
# Square of 11 to 30 numbers
squares = []
for i in range(11,31):
    if i % 2 == 0:
        squares.append(i ** 2)
print(squares)

[144, 196, 256, 324, 400, 484, 576, 676, 784, 900]

In [213]:
list1 = [1,2,3,1,2,3,4,10,2,3,34,45,56,67]

even_numbers = [] # List initialization
for i in list1:
    if i % 2 == 0:
        even_numbers.append(i)
print(even_numbers)

[2, 2, 4, 10, 2, 34, 56]

In [214]:
list1 = [1,2,3,1,2,3,4,10,2,3,34,45,56,67]

even_numbers = [] # List initialization
odd_numbers = []
for i in list1:
    if i % 2 == 0:
        even_numbers.append(i)
        
    else:
        odd_numbers.append(i)
print(even_numbers)
print(odd_numbers)

[2, 2, 4, 10, 2, 34, 56]
[1, 3, 1, 3, 3, 45, 67]

In [208]:
num = [2,3,4,5,6,7]
# sqr_list = [4,9,16,25,36,49]

sqrList = []
for n in num: # n = 3
    sqr = n ** 2  # sqr = 9
    sqrList.append(sqr)   
print(sqrList)

[4, 9, 16, 25, 36, 49]

In [ ]:
updated_list = [expression for item in list if condition == True]

In [216]:
num = [2,3,4,5,6,7]
sqr_list = [i**2 for i in num]
sqr_list

[4, 9, 16, 25, 36, 49]

In [218]:
num = [2,3,4,5,6,7]
sqr_list = [i**2 for i in num if i % 2 == 0]
sqr_list

[4, 16, 36]

In [220]:
sub_names = ['Phy','Che','Math','Bio','Eng']
# sub_names_upper = ['PHY','CHE','MATH','BIO','ENG']

subject_upper = []
for sub in sub_names:
    upper = sub.upper()
    subject_upper.append(upper)
print(subject_upper)

['PHY', 'CHE', 'MATH', 'BIO', 'ENG']

In [223]:
sub_names = ['Phy','Che','Math','Bio','Eng']
sub_upper = [sub.upper() for sub in sub_names ]
sub_upper

['PHY', 'CHE', 'MATH', 'BIO', 'ENG']

In [226]:
sub_names = ['Phy','Che','Math','Bio','Eng']
sub_upper = [sub.upper() for sub in sub_names ]
sub_upper

['PHY', 'CHE', 'MATH', 'BIO', 'ENG']

In [228]:
city_name = ['pune','Mumbai','mumbai','Delhi','chennai']
city_name = [city.title() for city in city_name]
city_name

['Pune', 'Mumbai', 'Mumbai', 'Delhi', 'Chennai']

In [225]:
num = [2,3,4,5,6,7]
cube_list = [i**3 for i in num]
cube_list

[8, 27, 64, 125, 216, 343]

# Copy Function

In [230]:
list1 = [2,3,4,5,6,7]

list2 = list1
list2.append(1000)

print(list1)
print(list2)

[2, 3, 4, 5, 6, 7, 1000]
[2, 3, 4, 5, 6, 7, 1000]

In [232]:
list1 = [2,3,4,5,6,7]

list2 = list1.copy()
list2.append(1000)

print(list1)
print(list2)

[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7, 1000]

In [234]:
list1 = [2,3,4,5,6,7]

list2 = list1
list1[2] = 1000

print(list1)
print(list2)

[2, 3, 1000, 5, 6, 7]
[2, 3, 1000, 5, 6, 7]

In [236]:
list1 = [2,3,4,5,6,7]

list2 = list1.copy() # Shallow Copy
list1[2] = 1000

print(list1)
print(list2)

[2, 3, 1000, 5, 6, 7]
[2, 3, 4, 5, 6, 7]

# Nested List

List in list

In [238]:
list1 = [[2,3],[3,4],[5,6],[7,8]]
list1[2][1]

6

In [240]:
list1 = [[2,3],[3,4],[5,6],[7,8]]
for i in list1:
    print(i)

[2, 3]
[3, 4]
[5, 6]
[7, 8]

In [242]:
list1 = [[2,3],[3,4],[5,6],[7,8]]
list1[2][1] = 'python'
print(list1)

[[2, 3], [3, 4], [5, 'python'], [7, 8]]

In [245]:
list1 = [[2,3],[3,4],[5,6],[7,8]]

list2 = list1.copy() # Shallow copy

list1[2][1] = 'python'

print(list1)
print(list2)

[[2, 3], [3, 4], [5, 'python'], [7, 8]]
[[2, 3], [3, 4], [5, 'python'], [7, 8]]

In [248]:
list1 = [[2,3],[3,4],[5,6],[7,8]]

list2 = list1.copy() # Shallow copy

list1[2] = 'python'

print(list1)
print(list2)

[[2, 3], [3, 4], 'python', [7, 8]]
[[2, 3], [3, 4], [5, 6], [7, 8]]

In [249]:
list1 = [[2,3],[3,4],[5,6],[7,8]]

list2 = list1.copy() # Shallow copy

list1[2][1] = 'python'

print(list1)
print(list2)

[[2, 3], [3, 4], [5, 'python'], [7, 8]]
[[2, 3], [3, 4], [5, 'python'], [7, 8]]

# deep Copy

In [253]:
import copy
list1 = [[2,3],[3,4],[5,6],[7,8]]
list2 = copy.deepcopy(list1)
print(list1)
print(list2)

list1[2][0] = 'python'

print(list1)
print(list2)

[[2, 3], [3, 4], [5, 6], [7, 8]]
[[2, 3], [3, 4], [5, 6], [7, 8]]
[[2, 3], [3, 4], ['python', 6], [7, 8]]
[[2, 3], [3, 4], [5, 6], [7, 8]]