# Fibonacci Series

In [ ]:
0 1 1 2 3 5 8 13 21 .... 

n = 10 
0 1 1 2 3 5 8 13 21 34

n = 5
0 1 1 2 3

In [19]:
n = 10

a = 0
b = 1

for i in range(n):
    print(a)
    c=a
    a=b
    b=b+c

0
1
1
2
3
5
8
13
21
34

In [8]:
n=10
n1=0
n2=1
print(n1)
print(n2)
for i in range(0,n-2):
    sum=n1+n2
    n1=n2
    n2=sum
    print(sum)

0
1
1
2
3
5
8
13
21
34

In [16]:
n=10
first =0
second=1

print(f'Fobonaccii series for {n} is\n',first, second, end = ' ')
for i in range(0,n-2):
    new = first + second
    first = second
    second = new
    print(new, end = ' ')

Fobonaccii series for 10 is
 0 1 1 2 3 5 8 13 21 34

In [26]:
n = 10
first = 0
second = 1

print(f'Fobonacci series for {n} is\n',first, second, end = ' ')
for i in range(0,n-2):  # i = 3
    new = first + second  # new = 1 + 2 = 3
    first = second   # first  = 2
    second = new     # second = 3
    print(new, end = ' ') # 1 2 3

Fobonacci series for 10 is
 0 1 1 2 3 5 8 13 21 34

In [27]:
n = 5
first = 0
second = 1

print(f'Fobonacci series for {n} is\n', end = ' ')
for i in range(0,n):  # i = 4
    print(first,end = ' ')   # 0 1 1 2 3
    first, second = second, first+second     # first = 1, second = 1

Fobonacci series for 5 is
 0 1 1 2 3

    *
   **
  ***
 ****
*****

In [32]:
n = 5
for i in range(1,n+1): # i = 1
    print(' ' * (n-i) + '*' * i)

    *
   **
  ***
 ****
*****

In [35]:
n = 5
for i in range(1,n+1): # i = 2
    print(' ' * (n-i) + '*' * i)

    *
   **
  ***
 ****
*****

In [ ]:
n = 5
for i in range(1,n+1): # i = 2
    print(' ' * (n-i) + '*' * i)

    *
   ***
  *****
 *******
*********

1 >> 1
2 >> 3
3 >> 5
4 >> 7
(i*2 -1)

In [38]:
n = 5
for i in range(1,n+1): # i = 2
    print(' ' * (n-i) + '*' * (i*2-1))

    *
   ***
  *****
 *******
*********

*
**
***
****
***
**
*

In [42]:
n = 4

for i in range(1,n+1):
    for j in range(1,n+1):
        print('*',end = ' ')
    print()

* * * *
* * * *
* * * *
* * * *

In [44]:
n = 4

for i in range(1,n+1):
    for j in range(i):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *

In [49]:
n = 4

for i in range(1,n+1):
    for j in range(i):
        print('*',end = ' ')
    print()
    
for i in range(n-1,0,-1):
    for j in range(i):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [52]:
n = 4
num = 1
for i in range(1,n+1):
    for j in range(i):
        print(num,end = ' ')
    print()
    
for i in range(n-1,0,-1):
    for j in range(i):
        print(num,end = ' ')
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1
1 1
1

In [55]:
n = 4
num = 1
for i in range(1,n+1):
    for j in range(i):
        print(num,end = ' ')
        num += 1
    print()
    
for i in range(n-1,0,-1):
    for j in range(i):
        print(num,end = ' ')
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13
14 15
16

In [58]:
n = 4
num = 65
for i in range(1,n+1):
    for j in range(i):
        print(chr(num),end = ' ')
        num += 1
    print()
    
for i in range(n-1,0,-1):
    for j in range(i):
        print(chr(num),end = ' ')
        num += 1
    print()

A
B C
D E F
G H I J
K L M
N O
P

In [60]:
n = 4
num = 97
for i in range(1,n+1):
    for j in range(i):
        print(chr(num),end = ' ')
        num += 1
    print()
    
for i in range(n-1,0,-1):
    for j in range(i):
        print(chr(num),end = ' ')
        num += 1
    print()

a
b c
d e f
g h i j
k l m
n o
p