# List

It is collection of items
Used to store sequence of various data Type(int,float,tuple,list,dict,set,...,Dataframe)

Ordered Data Type
Mutable (Changable)
Enclosed by square bracket >>[]

Lists are comma seperated
Duplicates are allowed

Ordered
Mutable
Duplicates are allowed

In [7]:
list1 = [2,3,5,10.5,'a']
list1[1]  # index

3

In [14]:
list1= [2,3,5,10.5,'a']
print(list1)
list1[1] = 10000
print(list1)

[2, 3, 5, 10.5, 'a']
[2, 10000, 5, 10.5, 'a']

In [12]:
list1.append(2000)
print(list1)

[2, 10000, 5, 10.5, 'a', 2000]

In [15]:
string = 'Data Science'
string.replace('Data',"Python")
print(string)

Data Science

In [17]:
l1 = [3,4,5,6,2,3,4,5]
print(l1,len(l1))

[3, 4, 5, 6, 2, 3, 4, 5] 8

In [18]:
set1 = {3,4,5,6,2,3,4,5}
print(set1,len(set1))

{2, 3, 4, 5, 6} 5

In [26]:
data = [2,3,45,56,[100,200,300],'Python',10.34,3+4j,{'a':100, 'b':200},(2,3,4,5)]
len(data)

10

In [25]:
data[4][2] = 500
print(data)

[2, 3, 45, 56, [100, 200, 500], 'Python', 10.34, (3+4j), {'a': 100, 'b': 200}]

# indexing

index will starts from 0 to len-1

In [28]:
list1 = [10,20,30,25,15,'Python','Data Science']
list1

[10, 20, 30, 25, 15, 'Python', 'Data Science']

In [37]:
list1[0]
list1[3]
list1[1]

20

In [38]:
list1[len(list1) - 1]

'Data Science'

In [39]:
list1[-1]
list1[-2]

'Python'

# Slicing

In [41]:
list1 = [10,20,30,25,15,'Python','Data Science']
list1[0:5]

[10, 20, 30, 25, 15]

In [43]:
list1[0:2]  # 2

[10, 20]

In [45]:
list1[4:2]  # 0

[]

In [47]:
list1[4:5]  # 1

[15]

In [49]:
list1[-5:-2]  # 3

[30, 25, 15]

In [51]:
list1

[10, 20, 30, 25, 15, 'Python', 'Data Science']

In [53]:
list1[-5:]

[30, 25, 15, 'Python', 'Data Science']

In [56]:
list1[1:6:1]

[20, 30, 25, 15, 'Python']

In [58]:
list1[1:6:2]

[20, 25, 'Python']

In [60]:
list1

[10, 20, 30, 25, 15, 'Python', 'Data Science']

In [63]:
list1[0:6:2]  # 10,30,15,'Data Science' # Even index

[10, 30, 15]

In [65]:
list1[0:6:-1]

[]

In [67]:
list1[6:0:-1]

['Data Science', 'Python', 15, 25, 30, 20]

In [69]:
list1[::-1]

['Data Science', 'Python', 15, 25, 30, 20, 10]

In [73]:
list1[::-2]

['Data Science', 15, 30, 10]

In [75]:
city_names = ['Pune',"Mumbai",'Delhi','Chennai']
city_names[1]

'Mumbai'

# Check items in list

In [77]:
city_names = ['Pune',"Mumbai",'Delhi','Chennai']
'Mumbai' in city_names

True

In [79]:
city_names = ['Pune',"Mumbai",'Delhi','Chennai']
if 'Mumbai' in city_names:
    print("Mumbai is in city names list")
    
else:
    print("Mumbai is not in city List")

Mumbai is in city names list

In [81]:
city_names = ['Pune',"Mumbai",'Delhi','Chennai']
if 'mumbai' in city_names:
    print("Mumbai is in city names list")
    
else:
    print("Mumbai is not in city List")

Mumbai is not in city List

In [82]:
city_names = ['Pune',"Mumbai",'Delhi','Chennai']
if 'mumbai' in city_names:
    print("Mumbai is in city names list")
    
else:
    print("Mumbai is not in city List")

Mumbai is not in city List

# Access items of list using for loop

In [84]:
city_list = ['Pune',"Mumbai",'Delhi','Chennai']

for city in city_list:
    print(city)

Pune
Mumbai
Delhi
Chennai

In [90]:
city_list = ['Pune',"Mumbai",'Delhi','Chennai']

count = 0
for city in city_list: # city = 'Chennai'
    print(f"Item at index {count} is {city}")

Item at index 0 is Pune
Item at index 0 is Mumbai
Item at index 0 is Delhi
Item at index 0 is Chennai

In [114]:
city_list = ['Pune',"Mumbai",'Delhi','Chennai']

count = 0
for city in city_list: # city = 'Pune'
    print(f"Item at index {count} is {city}")
    count = count + 1

Item at index 0 is Pune
Item at index 1 is Mumbai
Item at index 2 is Delhi
Item at index 3 is Chennai

In [115]:
city_list = ['Pune',"Mumbai",'Delhi','Chennai']

i = 0
for city in city_list: # city = 'Pune'
    print(f"Item at index {i} is {city}")
    i = i + 1

Item at index 0 is Pune
Item at index 1 is Mumbai
Item at index 2 is Delhi
Item at index 3 is Chennai

In [116]:
city_list = ['Pune',"Mumbai",'Delhi','Chennai']

for index,city in enumerate(city_list): # city = 'Pune' , index = 0
    print(f"Item at index {index} is {city}")

Item at index 0 is Pune
Item at index 1 is Mumbai
Item at index 2 is Delhi
Item at index 3 is Chennai

In [98]:
range(0,5) # 0,1,2,3,4

range(0, 5)

In [105]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [106]:
list(range(5))

[0, 1, 2, 3, 4]

In [104]:
list(range(5,10,2))

[5, 7, 9]

In [110]:
city_list = ['Pune',"Mumbai",'Delhi','Chennai']

for i in range(len(city_list)):  # for i in range(4) # 0,1,2,3
    print(f"Item at index {i} is {city_list[i]}")

Item at index 0 is Pune
Item at index 1 is Mumbai
Item at index 2 is Delhi
Item at index 3 is Chennai

In [107]:
for i in range(4):
    print(i)

0
1
2
3

# Create Lists

## Add items in list

### 1. append

In [119]:
city_list = ['Pune',"Mumbai",'Delhi','Chennai']
print(city_list)
city_list.append(1000)
print(city_list)

['Pune', 'Mumbai', 'Delhi', 'Chennai']
['Pune', 'Mumbai', 'Delhi', 'Chennai', 1000]

In [121]:
city_list = ['Pune',"Mumbai",'Delhi','Chennai']
print(city_list,len(city_list))  #4 
city_list.append('Hyderabad')
print(city_list,len(city_list))  # 5

['Pune', 'Mumbai', 'Delhi', 'Chennai'] 4
['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad'] 5

In [122]:
city_list = ['Pune',"Mumbai",'Delhi','Chennai']
print(city_list,len(city_list))  #4 

city_list.append('Hyderabad')
print(city_list,len(city_list))  # 5

city_list.append('Kolkata')
print(city_list,len(city_list))  # 6

['Pune', 'Mumbai', 'Delhi', 'Chennai'] 4
['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad'] 5
['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad', 'Kolkata'] 6

### 2. extend

In [123]:
# To join two lists

In [130]:
city_list = ['Pune',"Mumbai",'Delhi','Chennai']
new_city_list = ['Kolkata', 'Bangalore']
city_list.append(new_city_list)
print(city_list,len(city_list))

['Pune', 'Mumbai', 'Delhi', 'Chennai', ['Kolkata', 'Bangalore']] 5

In [132]:
city_list = ['Pune',"Mumbai",'Delhi','Chennai']
new_city_list = ['Kolkata', 'Bangalore']
city_list.extend(new_city_list)
print(city_list)

['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Kolkata', 'Bangalore']

In [134]:
string = "Machine"
for i in range(len(string)):
    print(i)

0
1
2
3
4
5
6

In [136]:
string = "Machine"
for i in range(2, len(string)):
    print(i)

2
3
4
5
6

In [145]:
string = "1234556789"
even_count = 0
for i in string:
    if int(i) % 2 == 0:
        even_count += 1
        
print(even_count)

4

In [151]:
string = "asdfghj"
even_count = 0
for i in range(len(string)):
    if i % 2 == 0:
        print(string[i])

print(even_count)

a
d
g
j
0

In [144]:
string = "1234556789"
even_count = 0

for i in range(len(string)):
    if int(string[i]) % 2 == 0:
        even_count += 1
        
print(even_count)

4

In [ ]:
string = "1234asdfgh556789"
even_count = 0

for i in range(len(string)):
    if int(string[i]) % 2 == 0:
        even_count += 1
        
print(even_count)

TypeError: not all arguments converted during string formatting