# Dictionary

List: Oredred, Mutable, Duplicates are allowed
Tuple: Oredred, Immutable, Duplicates are allowed
Set: Unoredred, Mutable, Duplicates are not allowed

In [ ]:
Dict: Ordered, Mutable, Duplicates are not allowed
    
Python >= 3.6 >> Ordered
Pyhton < 3.6  >> Unordered

Dict holds Key and Value pair
Comma seperated
dict1 = {'Key': 'Value'}

Duplicates are not allowed:
    Key >> Immutable DataType : (int,float,str,tuple) >> Can not be duplicate
    Values >> Any DataType: (list,int,float,str,tuple,set,dict) >> Can be Duplicate

In [2]:
d1 = {}
type(d1)

dict

In [4]:
d1 = dict()
type(d1)

dict

In [6]:
d1 = {'Name' : "Rohit"}
len(d1)

1

In [8]:
d1 = {'Name' : "Rohit",'Age' : 30}
len(d1)

2

In [9]:
d1 = {'Name' : "Rohit",'Age' : 30}
len(d1)

2

In [12]:
d1 = {'Name' : "Rohit",'Age' : 30,'Score': 60}
print(d1,len(d1))

{'Name': 'Rohit', 'Age': 30, 'Score': 60} 3

In [14]:
d1 = {'Name' : "Rohit",'Age' : 30,'Score': 60, 100 : 200}
print(d1,len(d1))

{'Name': 'Rohit', 'Age': 30, 'Score': 60, 100: 200} 4

In [16]:
d1 = {'Name' : "Rohit",'Age' : 30,'Score': 60, (2,3,4): 200}
print(d1,len(d1))

{'Name': 'Rohit', 'Age': 30, 'Score': 60, (2, 3, 4): 200} 4

In [18]:
d1 = {'Name' : "Rohit",'Age' : 30,'Score': 60, 20.34: 200}
print(d1,len(d1))

{'Name': 'Rohit', 'Age': 30, 'Score': 60, 20.34: 200} 4

In [21]:
d1 = {'Name' : "Rohit",'Age' : 30,'Score': 60, 100 : 200}
print(d1,len(d1))

{'Name': 'Rohit', 'Age': 30, 'Score': 60, 100: 200} 4

In [26]:
d1 = {'Name' : ["Rohit",'Karan'],'Age' : 30,'Score': 60, 100 : 200}
print(d1,len(d1))

{'Name': ['Rohit', 'Karan'], 'Age': 30, 'Score': 60, 100: 200} 4

In [27]:
d1 = {'Name' : ("Rohit",'Karan'),'Age' : 30,'Score': 60, 100 : 200}
print(d1,len(d1))

{'Name': ('Rohit', 'Karan'), 'Age': 30, 'Score': 60, 100: 200} 4

In [29]:
d1 = {'Name' : {'Student Name' : 'Rohit'},'Age' : 30,'Score': 60, 100 : 200}
print(d1,len(d1))

{'Name': {'Student Name': 'Rohit'}, 'Age': 30, 'Score': 60, 100: 200} 4

In [30]:
d1 = {'Name' : {'Student Name' : 'Rohit'},'Age' : 30,'Score': 60, 100 : 200}
print(d1,len(d1))

{'Name': {'Student Name': 'Rohit'}, 'Age': 30, 'Score': 60, 100: 200} 4

# Access Dictionary Items

dict[KeyName]

In [32]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

print(employee_data,len(employee_data))

{'Employee Name': 'Tushar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'} 4

In [34]:
employee_data['Salary']

50000

In [36]:
employee_data['Company']

'Capgemini'

In [39]:
# employee_data['Experience']

# get()

In [41]:
employee_data.get('Salary')

50000

In [43]:
employee_data.get('Company')

'Capgemini'

# For Loop on Dictionary

In [46]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

## 1. access Keys from dict

In [47]:
for key in employee_data: # Default we will get keys from dict
    print("Key is :",key)

Key is : Employee Name
Key is : Salary
Key is : Age
Key is : Company

In [49]:
for key in employee_data.keys():
    print("Key is :",key)

Key is : Employee Name
Key is : Salary
Key is : Age
Key is : Company

In [51]:
employee_data.keys()

dict_keys(['Employee Name', 'Salary', 'Age', 'Company'])

x = employee_data.values()
# type(x)
l1 = list(x)
print(l1,type(l1))

In [55]:
for values in employee_data.values():
    print("Values are:",values)

Values are: Tushar
Values are: 50000
Values are: 30
Values are: Capgemini

In [58]:
for values in employee_data.values():
    print("Values are:",values)

Values are: Tushar
Values are: 50000
Values are: 30
Values are: Capgemini

In [60]:
employee_data.items()

dict_items([('Employee Name', 'Tushar'), ('Salary', 50000), ('Age', 30), ('Company', 'Capgemini')])

In [62]:
for key,val in employee_data.items():
    print(key,val)

Employee Name Tushar
Salary 50000
Age 30
Company Capgemini

In [64]:
for key,val in employee_data.items():
    print(f"Value of {key} is {val}")

Value of Employee Name is Tushar
Value of Salary is 50000
Value of Age is 30
Value of Company is Capgemini

In [66]:
for key,value in employee_data.items():
    print(f"Value of {key} is {value}")

Value of Employee Name is Tushar
Value of Salary is 50000
Value of Age is 30
Value of Company is Capgemini

# Dict Function
1. keys()
2. values()
3. items()

# Check items in dictionary

In [74]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

if 'Salary' in employee_data:
    print('Salary key is present')
    
else:
    print('Not Present')

Salary key is present

In [75]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

if 'Exp' in employee_data:
    print('Salary key is present')
    
else:
    print('Not Present')

Not Present

# Change Items of Dictionary

In [78]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

employee_data['Salary'] = 70000

print(employee_data)

{'Employee Name': 'Tushar', 'Salary': 70000, 'Age': 30, 'Company': 'Capgemini'}

In [80]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

employee_data['Company'] = 'TCS'

print(employee_data)

{'Employee Name': 'Tushar', 'Salary': 50000, 'Age': 30, 'Company': 'TCS'}

In [82]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

employee_data['Salary'] = 70000
employee_data['Company'] = 'TCS'

print(employee_data)

{'Employee Name': 'Tushar', 'Salary': 70000, 'Age': 30, 'Company': 'TCS'}

In [85]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

employee_data['Salary'] = 70000
employee_data['Experience'] = '3 Years'

print(employee_data)

{'Employee Name': 'Tushar', 'Salary': 70000, 'Age': 30, 'Company': 'Capgemini', 'Experience': '3 Years'}

In [86]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

employee_data['Salary'] = 70000
employee_data['Experience'] = '3 Years'

print(employee_data)

{'Employee Name': 'Tushar', 'Salary': 70000, 'Age': 30, 'Company': 'Capgemini', 'Experience': '3 Years'}

In [94]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

employee_data['Salary'] = 70000
employee_data['Company'] = 'TCS'
employee_data['Age'] = 31
employee_data

{'Employee Name': 'Tushar', 'Salary': 70000, 'Age': 31, 'Company': 'TCS'}

# update()

Add two dictionaries

In [96]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

new_data = {'Salary' : 70000,
            'Age': 31,
            'Company': 'TCS'}

employee_data.update(new_data)
print(employee_data)

{'Employee Name': 'Tushar', 'Salary': 70000, 'Age': 31, 'Company': 'TCS'}

In [98]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}


employee_data.update({'Company': 'TCS'})
print(employee_data)

{'Employee Name': 'Tushar', 'Salary': 50000, 'Age': 30, 'Company': 'TCS'}

In [100]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

new = {'Company': 'TCS'}
employee_data.update(new)
print(employee_data)

{'Employee Name': 'Tushar', 'Salary': 50000, 'Age': 30, 'Company': 'TCS'}

In [102]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

new_data = {'Exp' : '4 Years','Location':'Pune'}

employee_data.update(new_data)
print(employee_data)

{'Employee Name': 'Tushar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini', 'Exp': '4 Years', 'Location': 'Pune'}

In [107]:
employee_data = {"Employee Name" : 'Tushar',
                'Salary' : 50000,
                'Age': 30,
                'Company': 'Capgemini'}

new_data = {'Exp' : '4 Years','Location':'Pune'}

new_data.update(employee_data)

print(employee_data,len(employee_data))
print(new_data,len(new_data))

{'Employee Name': 'Tushar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'} 4
{'Exp': '4 Years', 'Location': 'Pune', 'Employee Name': 'Tushar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'} 6

# Remove items from dict

In [ ]:
1. pop
2. popitem
3. clear
4. del

In [115]:
emp_details = {'Exp': '4 Years', 
               'Location': 'Pune', 
               'Employee Name': 'Tushar', 
               'Salary': 50000, 
               'Age': 30, 
               'Company': 'Capgemini'}
emp_details

{'Exp': '4 Years',
 'Location': 'Pune',
 'Employee Name': 'Tushar',
 'Salary': 50000,
 'Age': 30,
 'Company': 'Capgemini'}

# 1. pop()

In [116]:
emp_details.pop('Location')
print(emp_details,len(emp_details))

{'Exp': '4 Years', 'Employee Name': 'Tushar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'} 5

In [117]:
emp_details.pop('Company')
print(emp_details,len(emp_details))

{'Exp': '4 Years', 'Employee Name': 'Tushar', 'Salary': 50000, 'Age': 30} 4

# 2. popitem()

In [ ]:
Remove last inserted item

In [132]:
emp_details = {'Exp': '4 Years', 
               'Location': 'Pune', 
               'Employee Name': 'Tushar', 
               'Salary': 50000, 
               'Age': 30, 
               'Company': 'Capgemini'}

emp_details

{'Exp': '4 Years',
 'Location': 'Pune',
 'Employee Name': 'Tushar',
 'Salary': 50000,
 'Age': 30,
 'Company': 'Capgemini'}

In [133]:
emp_details.popitem()
print(emp_details,len(emp_details))

{'Exp': '4 Years', 'Location': 'Pune', 'Employee Name': 'Tushar', 'Salary': 50000, 'Age': 30} 5

In [134]:
emp_details.popitem()
print(emp_details,len(emp_details))

{'Exp': '4 Years', 'Location': 'Pune', 'Employee Name': 'Tushar', 'Salary': 50000} 4

In [138]:
emp_details.popitem()
print(emp_details,len(emp_details))

{} 0

# 3. clear()

In [139]:
emp_details = {'Exp': '4 Years', 
               'Location': 'Pune', 
               'Employee Name': 'Tushar', 
               'Salary': 50000, 
               'Age': 30, 
               'Company': 'Capgemini'}

emp_details

{'Exp': '4 Years',
 'Location': 'Pune',
 'Employee Name': 'Tushar',
 'Salary': 50000,
 'Age': 30,
 'Company': 'Capgemini'}

In [140]:
emp_details.clear()
print(emp_details,len(emp_details))

{} 0

# 4. del

In [141]:
emp_details = {'Exp': '4 Years', 
               'Location': 'Pune', 
               'Employee Name': 'Tushar', 
               'Salary': 50000, 
               'Age': 30, 
               'Company': 'Capgemini'}

emp_details

{'Exp': '4 Years',
 'Location': 'Pune',
 'Employee Name': 'Tushar',
 'Salary': 50000,
 'Age': 30,
 'Company': 'Capgemini'}

In [143]:
del emp_details['Company']
print(emp_details)

{'Exp': '4 Years', 'Location': 'Pune', 'Employee Name': 'Tushar', 'Salary': 50000, 'Age': 30}

In [144]:
del emp_details['Salary']
print(emp_details)

{'Exp': '4 Years', 'Location': 'Pune', 'Employee Name': 'Tushar', 'Age': 30}

In [147]:
# del emp_details
# print(emp_details)

# Nested Dictionaries

In [149]:
emp_details = {'Employee Name': 'Tushar', 
               'Salary': 50000, 
               'Age': 30, 
               'Company': 'Capgemini',
                'Exp': '4 Years', 
               'Location': 'Pune'}
emp_details

{'Employee Name': 'Tushar',
 'Salary': 50000,
 'Age': 30,
 'Company': 'Capgemini',
 'Exp': '4 Years',
 'Location': 'Pune'}

In [155]:
emp_details = { 'CG0010':{'Employee Name': 'Tushar', 
                           'Salary': 50000, 
                           'Age': 30, 
                           'Company': 'Capgemini',
                           'Exp': '4 Years', 
                           'Desigantion': 'Python Developer'},
               
               "CG0011": {'Employee Name': 'Aman', 
                           'Salary': 80000, 
                           'Age': 27, 
                           'Company': 'Capgemini',
                           'Exp': '3 Years', 
                           'Desigantion': 'Data Scientist'},
               
              "CG0012": {'Employee Name': 'Sagar', 
                           'Salary': 60000, 
                           'Age': 28, 
                           'Company': 'Capgemini',
                           'Exp': '3.5 Years', 
                           'Desigantion': 'Software Developer'}}

print(emp_details)
print("Length of dict is ",len(emp_details))

{'CG0010': {'Employee Name': 'Tushar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini', 'Exp': '4 Years', 'Desigantion': 'Python Developer'}, 'CG0011': {'Employee Name': 'Aman', 'Salary': 80000, 'Age': 27, 'Company': 'Capgemini', 'Exp': '3 Years', 'Desigantion': 'Data Scientist'}, 'CG0012': {'Employee Name': 'Sagar', 'Salary': 60000, 'Age': 28, 'Company': 'Capgemini', 'Exp': '3.5 Years', 'Desigantion': 'Software Developer'}}
Length of dict is  3

In [158]:
type(emp_details['CG0012'])

dict

In [161]:
emp_details['CG0012']['Exp']

'3.5 Years'

In [164]:
emp_details['CG0011']['Desigantion']

'Data Scientist'

In [170]:
data = {}
data['Name'] = 'Sagar'
data['Loc'] = 'Pune'
print(data)

{'Name': 'Sagar', 'Loc': 'Pune'}

In [171]:
sub_names = ['Phy','Che','Math','Eng','Bio']
sub_marks = [93, 94, 91, 95, 90]

# {'Phy':93,'Che':94,..'Bio':90}

In [175]:
sub_names = ['Phy','Che','Math','Eng','Bio']
sub_marks = [93, 94, 91, 95, 90]
d1 = {}
for i in sub_names:
    for j in sub_marks:
        d1[i] = j
print(d1)

{'Phy': 90, 'Che': 90, 'Math': 90, 'Eng': 90, 'Bio': 90}

In [177]:
sub_names = ['Phy','Che','Math','Eng','Bio']
sub_marks = [93, 94, 91, 95, 90]
dict1 = {}

for i in range(len(sub_names)):  # range(5)
    dict1[sub_names[i]] = sub_marks[i]

print(dict1)

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [187]:
sub_names = ['Phy','Che','Math','Eng','Bio']
sub_marks = [93, 94, 91, 95, 90]
dict1 = {}

for i,key in enumerate(sub_names):  
    dict1[key] = sub_marks[i]
dict1

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [188]:
sub_names = ['Phy','Che','Math','Eng','Bio']
sub_marks = [93, 94, 91, 95, 90]
dict1 = {}

for i,key in enumerate(sub_names):  
    dict1.update({key:sub_marks[i]})
    
dict1

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [186]:
sub_names = ['Phy','Che','Math','Eng','Bio']
sub_marks = [93, 94, 91, 95, 90]
dict1 = {}
count = 0
for key in sub_names:  
    dict1[key] = sub_marks[count]
    count += 1
dict1

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

# square of 11 to 20 numbers

# {11:121,12:144,13:169,..,20:400}

In [192]:
squares = {}
for i in range(11,21):
    squares[i] = i ** 2
print(squares)

{11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [194]:
squares = {}
for i in range(11,31):
    squares[i] = i ** 2
print(squares)

{11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900}

In [203]:
string = """Data science is an interdisciplinary a field that uses scientific methods, 
processes, algorithms and systems to extract knowledge and insights from noisy, structured 
and unstructured data, and apply knowledge and actionable insights from data across a broad 
range of application domains"""

string = string.lower()
result = {}
for word in string.split():
    if len(word) == 1:
        word = f" {word} "
    result[word] = string.count(word)
    
print(result)

{'data': 3, 'science': 1, 'is': 3, 'an': 7, 'interdisciplinary': 1, ' a ': 2, 'field': 1, 'that': 1, 'uses': 1, 'scientific': 1, 'methods,': 1, 'processes,': 1, 'algorithms': 1, 'and': 5, 'systems': 1, 'to': 1, 'extract': 1, 'knowledge': 2, 'insights': 2, 'from': 2, 'noisy,': 1, 'structured': 2, 'unstructured': 1, 'data,': 1, 'apply': 1, 'actionable': 1, 'across': 1, 'broad': 1, 'range': 1, 'of': 1, 'application': 1, 'domains': 1}

# ASCII Values for alphabates

lower_case = {'a':97,'b':98,'z':122}
upper_case = {'A':65,'B':66,'Z':90}

In [207]:
lower_case = {}
for i in range(97,123):
    lower_case.update({chr(i):  i})
print(lower_case)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [211]:
upper_case = {}
for i in range(65,91):
    upper_case.update({chr(i):  i})
print(upper_case)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

# Sort Dictionary using Keys

In [218]:
sub_marks = {'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}
new_dict = {}
sorted_keys = sorted(sub_marks.keys())

for key in sorted_keys:
    new_dict[key] = sub_marks[key]
new_dict

{'Bio': 90, 'Che': 94, 'Eng': 95, 'Math': 91, 'Phy': 93}

In [220]:
sub_marks = {'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}
new_dict = {}

for key in sorted(sub_marks.keys()):
    new_dict[key] = sub_marks[key]
new_dict

{'Bio': 90, 'Che': 94, 'Eng': 95, 'Math': 91, 'Phy': 93}

# Sort dict by using values