# 1) right half pyramid

In [1]:
# For loop 
n=5
for i in range(1,n+1):
    print("*"*i)

*
**
***
****
*****

In [2]:
# while loop
n=5
i=1
while i<=n:
    print("*"*i)
    i+=1

*
**
***
****
*****

In [3]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

In [4]:
n=5
i=1
while i<=n:
    j=1
    while j<=i:
        print("*",end="")
        j+=1
    print()
    i+=1

*
**
***
****
*****

2

In [5]:
n=5
for i in range(1,n+1):
    print(" "*(n-i)+"*"*i)

    *
   **
  ***
 ****
*****

In [6]:
n=5
i=1
while i<=n:
    print(" "*(n-i)+"*"*i)
    i+=1
print()

    *
   **
  ***
 ****
*****

In [7]:
n=5
for i in range(1,n+1):
    print(" "*(n-i)+"*"*(2*i-1))

    *
   ***
  *****
 *******
*********

In [8]:
n=5
i=1
while i<=n:
    print(" "*(n-i)+"*"*(2*i-1))
    i +=1

    *
   ***
  *****
 *******
*********

In [9]:
print("hello")

hello

In [10]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
n=5
i=1
while i<=n:
    j=1
    while j<=i:
        print(j,end=" ")
        j +=1
    i+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [12]:
n=5
count=1
for i in range(1,n+1):
    for j in range(i):
        print(count,end=" ")
        count +=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [13]:
n=5
num=1
i=1
while i<=n:
    j=1
    while j<=i:
        print(num,end=" ")
        num+=1
        j+=1
    print()
    i+=1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [14]:
n=5
char=65
for i in range(1,n+1):
    for j in range(i):
        print(chr(char),end=" ")
        char +=1
    print()

A
B C
D E F
G H I J
K L M N O

In [15]:
n=5
char=65
i=1
while i<=n:
    j=1
    while j<=i:
        print(chr(char),end=" ")
        j+=1
        char+=1
    print()
    i+=1

A
B C
D E F
G H I J
K L M N O

In [16]:
n=5
char=65
for i in range(1,n+1):
    for j in range(i):
        print(chr(char),end=" ")
    char +=1
    print()

A
B B
C C C
D D D D
E E E E E

In [17]:
n=5
char=65
i=1
while i<=n:
    print(chr(char) *i,end=" ")
    char+=1
    print()
    i+=1

A
BB
CCC
DDDD
EEEEE

In [18]:
n=5

for i in range(1,n+1):
    for j in range(i):
        print("K",end=" ")
    
    print()

K
K K
K K K
K K K K
K K K K K

In [19]:
n=5
char="k"
i=1
while i<=n:
    print(char*i,end="\n")
    i+=1

k
kk
kkk
kkkk
kkkkk

In [20]:
print("hello")

hello

In [21]:
n=5
char=65
for i in range(1,n+1):
    char=65
    for j in range(i):
                  
        print(chr(char),end=" ")
        char +=1
    print()

A
A B
A B C
A B C D
A B C D E

In [22]:
n=5
i=1
char=65
while i<=n:
    j=1
    char=65
    while j<=i:
        print(chr(char),end=" ")
        j+=1
        char+=1
    print()
    i+=1

A
A B
A B C
A B C D
A B C D E

In [23]:
string="Python"
for i in range(1,len(string)+1):
    for j in range(i):
        print(string[j],end="")
    print()

P
Py
Pyt
Pyth
Pytho
Python

In [24]:
string="Python"
i=1
while i<=len(string):
    print(string[0:i])
    i+=1

P
Py
Pyt
Pyth
Pytho
Python

In [25]:
n=5
num=1
for i in range(1,n+1):
    for j in range(0,n-i+1):
        print(i,end="")
    print()

11111
2222
333
44
5

In [26]:
n=5
num=1
i=1
while i<=n:
    j=1
    while j<=n-i+1:
        print(i,end="")
        j +=1
    print()
    i+=1

11111
2222
333
44
5

In [27]:
n=6
for i in range(n,0,-1):
    print(str(i)*i,end="\n")
    i-=1

666666
55555
4444
333
22
1

In [28]:
n=6
i=n
while i>0:
    print(str(i)*i,end="\n")
    i-=1

666666
55555
4444
333
22
1

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [29]:
n=5
for i in range(1,n+1):
    for j in range(n+2-i):
        print(j,end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [31]:
n=5
for i in range(1,n+1):
    for j in range(n+2-i):
        print(j,end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [32]:
n=5
i=1
while i<=n:
    j=0
    while j<n+2-i:
        print(j,end=" ")
        j+=1
    print()
    i+=1

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
n=3
num=1
for i in range(1,n+1):
    for j in range(2*i-1):
        print(num,end=" ")
        num+=1
    print()

In [33]:
n=3
num=1
i=1
while i<=n:
    j=1
    while j<(2*i):
        print(num,end=' ')
        num+=1
        j+=1        
    print()
    i+=1

1
2 3 4
5 6 7 8 9

In [34]:
n=6
for i in range(n,0,-1):
    num=i
    for j in range(i):
        print(num,end=" ")
        num-=1
    print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [1]:
n=6
i=n
while i>=1:
    j=i
    while j>=1:
        print(j,end=" ")
        j-=1
    print()
    i-=1

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [16]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print(2*i-1,end="")
    print()

1
33
555
7777
99999

In [18]:
n=5
i=1
while i<=n:
    j=1
    while j<=i:
        print(2*i-1,end=" ")
        j+=1
    print()
    i+=1

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [33]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(i):
        print(j+1,end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [30]:
n =5
for i in range(1,n+1):
    print(" " * (n-i),end ="")
    for j in range(1,i+1):
        print(j ,end = " ")
    print()

Enter the no of rows: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [35]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        print(max(i,j),end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [2]:
n=5
i=1
while i<=n:
    j=1
    while j<=n:
        print(max(i,j),end=" ")
        j+=1
    print()
    i+=1

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [6]:
n=7
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [8]:
n=7
i=1
while i<=n:
    j=1
    while j<=i:
        print(i*j,end=" ")
        j+=1
    print()
    i+=1

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49