# Tuple

Tuple are used to store the sequence
Tuples are immutable
The value of item stored in tuple can not be changed/modified

ordered 
It allow duplicate items
Tuple are enclosed by parenthesis >> ()
Hetergoneous data types (int,float, str, list, tuple, etc)
Comma seperated
Tuples are faster than list
We can not perform operation like add, update and delete

If we are adding one item in the tuple, then we need to add comma

## Tuple Functions

1. index
2. count

In [1]:
tuple1 = (2,10,30)
type(tuple1)

tuple

In [3]:
tuple1 = ()
type(tuple1)

tuple

In [7]:
tuple1 = (10,)
type(tuple1)

tuple

In [8]:
l1 = [10]
type(l1)

list

In [11]:
l1 = (10)
type(l1)

int

In [13]:
t1 = ('mumbai')
type(t1)

str

In [15]:
t1 = ('mumbai',)
type(t1)

tuple

In [18]:
t1 = 'mumbai','pune', 'chennai'
print(t1, type(t1),len(t1))

('mumbai', 'pune', 'chennai') <class 'tuple'> 3

In [20]:
t1,t2,t3 = 'mumbai','pune', 'chennai'
t2

'pune'

In [28]:
t1 = ('mumbai','pune')
t1

('mumbai', 'pune')

In [29]:
t1 = 'mumbai','pune'
t1

('mumbai', 'pune')

# Indexing

In [30]:
tuple2 = (2,3,4,1,2,3,5,6,10)
tuple2[0]

2

In [35]:
tuple2 = (2,3,4,1,2,3,5,6,10)
tuple2[1]
tuple2[5]
tuple2[-1]
tuple2[2]

4

In [41]:
tuple2 = (2,3,4,1,2,3,5,6,10)
tuple2[1:5]  # 4
tuple2[:]
tuple2[:5] 
tuple2[-5:]

(2, 3, 5, 6, 10)

In [43]:
tuple2 = (2,3,4,1,2,3,5,6,10)
tuple2[1:5:1]  # 4

(3, 4, 1, 2)

In [44]:
tuple2 = (2,3,4,1,2,3,5,6,10)
tuple2[::1]

(2, 3, 4, 1, 2, 3, 5, 6, 10)

In [47]:
tuple2 = (2,3,4,1,2,3,5,6,10)
print(tuple2[::-1] )
print(tuple2)

(10, 6, 5, 3, 2, 1, 4, 3, 2)
(2, 3, 4, 1, 2, 3, 5, 6, 10)

In [49]:
tuple2 = (2,3,4,1,2,3,5,6,10)
tuple2[::-2]

(10, 5, 2, 4, 2)

In [51]:
tuple2 = (2,3,4,1,2,3,5,6,10)
tuple2[::2]

(2, 4, 2, 5, 10)

In [54]:
tuple2 = (2,3,4,1,2,3,5,6,10)
tuple2[1] = 100

TypeError: 'tuple' object does not support item assignment

In [58]:
string = 'Python'
string[1] = 'Y'

TypeError: 'str' object does not support item assignment

# Delete

In [61]:
tuple1 = (2,3,4,1,2,3,5,6,10)
del tuple1[3]

TypeError: 'tuple' object doesn't support item deletion

In [66]:
tuple1 = (2,3,4,1,2,3,5,6,10)
del tuple1
# print(tuple1)

In [73]:
tuple1 = (2,3,4,6,10)
l1 = list(tuple1)
l1[2] = 400
print(l1)
tuple2 = tuple(l1)
print(tuple2)
print(tuple1)

[2, 3, 400, 6, 10]
(2, 3, 400, 6, 10)
(2, 3, 4, 6, 10)

In [76]:
tuple1 = (2,3,4,6,10)
l1 = list(tuple1)
l1[2] = 400
print(l1)
tuple1 = tuple(l1)
print(tuple1)

[2, 3, 400, 6, 10]
(2, 3, 400, 6, 10)

In [77]:
tuple1 = (2,3,4,6,10)
l1 = list(tuple1)
l1[2] = 400
print(l1)
tuple1 = tuple(l1)
print(tuple1)

[2, 3, 400, 6, 10]
(2, 3, 400, 6, 10)

In [86]:
tuple1 = (2,3,4,6,10)
l1 = list(tuple1)
l1.append(500)
print(l1)
tuple1 = tuple(l1)
print(tuple1)

[2, 3, 4, 6, 10, 500]
(2, 3, 4, 6, 10, 500)

In [83]:
l1 = [10,20,30]
l1.append(40)
l1

[10, 20, 30, 40]

In [87]:
l1 = [10,20,30]
l1.append(40)
l1

[10, 20, 30, 40]

In [88]:
s = 'python'
s1 = s.replace('p','P')
print(s)
print(s1)

python
Python

# Tuple Operations

In [91]:
t1 = (2,3,4)
t2 = (5,6,7)
t1 + t2
print(t1)
print(t2)

(2, 3, 4)
(5, 6, 7)

In [93]:
t1 = (2,3,4)
t2 = (5,6,7)
t1 = t1 + t2
print(t1)
print(t2)

(2, 3, 4, 5, 6, 7)
(5, 6, 7)

In [98]:
t1 = (2,3,4)
t2 = (5,6,7)
t2 = t1 + t2
print(t1)
print(t2)

(2, 3, 4)
(2, 3, 4, 5, 6, 7)

In [99]:
t1 = (2,3,4)
t2 = (5,6,7)
t3 = t1 + t2
print(t1)
print(t2)
print(t3)

(2, 3, 4)
(5, 6, 7)
(2, 3, 4, 5, 6, 7)

In [104]:
t1 = (2,3,4)
t2 = t1 * 2
print(t1)
print(t2)

(2, 3, 4)
(2, 3, 4, 2, 3, 4)

In [102]:
s = 'Python'
s * 2

'PythonPython'

In [106]:
t1 = (10,20,30,'python',10.5, 'data','science',100,200)
value = 20
if value in t1:
    print(f'{value} is present')
    
else:
    print(f'{value} is not present')

20 is present

In [108]:
t1 = (10,20,30,'python',10.5, 'data','science',100,200)
value = 'data'
if value in t1:
    print(f'{value} is present')
    
else:
    print(f'{value} is not present')

data is present

In [110]:
t1 = (10,20,30,'python',10.5, 'data','science',100,200)
value = 'DATA'
if value in t1:
    print(f'{value} is present')
    
else:
    print(f'{value} is not present')

DATA is not present

In [113]:
t1 = (10,20,30,'python',10.5, 'data','science',100,200)
value = 'Python'

if value in t1:
    print(f'{value} is present')
    
else:
    print(f'{value} is not present')

Python is not present

In [115]:
t1 = (10,20,30,'python',10.5, 'data','science',100,200)
value = 'python'

if value in t1:
    print(f'{value} is present')
    
else:
    print(f'{value} is not present')

python is present

In [117]:
t1 = (10,20,30,'python',10.5, 'data','science',100,200)
t1.count(10)

1

In [119]:
t1 = (10,20,30,'python',10.5, 'data','science',100,200)
t1.index(10)

0

In [121]:
t1 = (10,20,30,'python',10.5, 'data','science',100,200)
t1.index('python')

3

In [123]:
t1 = (10,20,3,4,5,7,100)
min(t1)

3

In [125]:
t1 = (10,20,3,4,5,7,100)
max(t1)

100

In [127]:
t1 = (10,20,3,4,5,7,100)
sum(t1)

149

In [132]:
t1 = (10,20,3,4,5,7,10.50)
sum(t1)

59.5

# Where to use tuple

Customer_ID  = ('ID001','ID002',..,'ID100') # 100 ID's
Passport_Number = ['J123456']  # 100 passport number

In [134]:
tuple1 = (2,3,4,5) # 4,9,16,25

In [136]:
t1 = (10,20,30,40)
for i in t1:
    print(i)

10
20
30
40

In [138]:
t1 = (10,20,30,40)
for i in t1:
    sqr = i ** 2
    print(i,sqr)

10 100
20 400
30 900
40 1600

In [140]:
t1 = (10,20,30,40)
sqr_list = [i ** 2 for i in t1]
sqr_list

[100, 400, 900, 1600]

In [142]:
t1 = (10,20,30,40)
sqr_tuple = tuple([i ** 2 for i in t1])
sqr_tuple

(100, 400, 900, 1600)

In [145]:
t1 = (10,20,30,40)
sqr_tuple = [i ** 2 for i in t1]
sqr_tuple = tuple(sqr_tuple)
sqr_tuple

(100, 400, 900, 1600)

In [150]:
t1 = (10,20,30,40)
sqr_tuple = tuple([i ** 2 for i in t1]) # tuple([100,400,900,1600])
sqr_tuple

(100, 400, 900, 1600)

In [148]:
tuple([1,2,5,6])

(1, 2, 5, 6)

In [151]:
tuple([100,400,900,1600])

(100, 400, 900, 1600)

# Copy

In [153]:
list1 =[2,3,4,5,6]
list2 = list1 # Reference Value
list1.append(1000)

print(list1)
print(list2)

[2, 3, 4, 5, 6, 1000]
[2, 3, 4, 5, 6, 1000]

In [154]:
list1 =[2,3,4,5,6]
list2 = list1 # Reference Value
list2.append(2000)

print(list1)
print(list2)

[2, 3, 4, 5, 6, 2000]
[2, 3, 4, 5, 6, 2000]

In [156]:
list1 =[2,3,4,5,6]
list2 = list1.copy()
list1.append(1000)

print(list1)
print(list2)

[2, 3, 4, 5, 6, 1000]
[2, 3, 4, 5, 6]

In [160]:
list1 =[[2,3],[4,5,6]]
list2 = list1.copy() # Shallow Copy

list2[1][2] = 6000
        
print(list1)
print(list2)

[[2, 3], [4, 5, 6000]]
[[2, 3], [4, 5, 6000]]

In [162]:
import copy

list1 =[[2,3],[4,5,6]]
list2 = copy.deepcopy(list1)

list2[1][2] = 6000
        
print('list1 >> ',list1)
print("list2 >> ",list2)

list1 >>  [[2, 3], [4, 5, 6]]
list2 >>  [[2, 3], [4, 5, 6000]]

In [165]:
import copy

list1 =[[2,3],[4,5,6]]
list2 = copy.deepcopy(list1)

list1[1][1] = 5000
        
print('list1 >> ',list1)
print("list2 >> ",list2)

list1 >>  [[2, 3], [4, 5000, 6]]
list2 >>  [[2, 3], [4, 5, 6]]

In [172]:
tuple1 =([2,3],[4,5,6])
print(tuple1[1][1])
print(tuple1)

5
([2, 3], [4, 5, 6])

In [174]:
tuple1 =([2,3],[4,5,6])
tuple1[1]

[4, 5, 6]

In [176]:
tuple1 =([2,3],[4,5,6])
tuple1[1][1] = 1000
print(tuple1)

([2, 3], [4, 1000, 6])

In [177]:
tuple1 =([2,3],[4,5,6])
tuple1[1][1] = 1000
print(tuple1)

([2, 3], [4, 1000, 6])

In [ ]:
List:
    1. []
    2. Mutable
    3. Duplicates are allowed
    4. More Functionality in list
    5. Lists are slower
    6. Less Memory efficient
    7. Variable length
    
Tuple:
    1. ()
    2. Immutable
    3. Duplicates are allowed
    4. Less Functionality in tuple
    5. Tuples are Faster than list
    6. More memory efficient 
    7. Fixed Length